* {
  margin: 0;
}
.canvas {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(31, 31, 31);
}

.menu-container {
  padding: 20px 30px;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
.menu-title {
}
.menu-items-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-play-button {
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.dinosaur-wrapper {
  position: absolute;
  height: 100px;
  width: 70px;
  background-color: black;
  overflow: hidden;
  bottom: 0;
  z-index: 1;
}
.dinosaur-image {
  height: 100%;
  width: 100%;
}
.dinosaur-wrapper.super-powers {
  /* border: 2px solid lime; */
}

.object-wrapper {
  position: absolute;
  height: 80px;
  background-color: gray;
  right: 0;
  bottom: 0;
}
.object-image {
  height: 100%;
  object-fit: cover;
}

/*MUSHROOM*/
.mushroom-body {
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: 250px;
}
.mushroom-image{
  height: 100%;
  filter: invert(100%) hue-rotate(30deg);
}
